<div dropdown>
  <a
    id="button-basic"
    dropdownToggle
    class="header-icon"
    data-toggle="dropdown"
    aria-controls="dropdown-basic"
  >
    <i class="fal fa-cube"></i>
  </a>
  <div
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu dropdown-menu-animated-center w-auto h-auto"
    role="menu"
    aria-labelledby="button-basic"
  >
  <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top">
      <h4 class="m-0 text-center color-white">
          User Applications
      </h4>
    </div>
    <div class="custom-scroll h-100">
      <ul class="app-list">
        <li>
          <a href="#" class="app-list-item hover-white">
    
            <span class="icon-stack">
              <i class="base-2 icon-stack-3x color-primary-600"></i>
              <i class="base-3 icon-stack-2x color-primary-700"></i>
              <i class="ni ni-settings icon-stack-1x text-white fs-lg"></i>
            </span>
    
            <span class="app-list-name">
              Finance
            </span>
          </a>
        </li>
        <li>
          <a href="#" class="app-list-item hover-white">
    
            <span class="icon-stack">
              <i class="base-2 icon-stack-3x color-primary-400"></i>
              <i class="base-10 text-white icon-stack-1x"></i>
              <i class="ni md-profile color-primary-800 icon-stack-2x"></i>
            </span>
    
            <span class="app-list-name">
              Trading
            </span>
          </a>
        </li>
        <li>
          <a href="#" class="app-list-item hover-white">
    
            <span class="icon-stack">
              <i class="base-9 icon-stack-3x color-success-400"></i>
              <i class="base-2 icon-stack-2x color-success-500"></i>
              <i class="ni ni-shield icon-stack-1x text-white"></i>
            </span>
    
            <span class="app-list-name">
              Manufacturing
            </span>
          </a>
        </li>
        <li>
          <a href="#" class="app-list-item hover-white">
    
            <span class="icon-stack">
              <i class="base-18 icon-stack-3x color-info-700"></i>
              <span class="position-absolute pos-top pos-left pos-right color-white fs-md mt-2 fw-400">28</span>
            </span>
    
            <span class="app-list-name">
              HRMS
            </span>
          </a>
        </li>
      </ul>	
    </div>
  </div>
</div>
