<header class="page-header" role="banner">

    <!-- we need this logo when user switches to nav-function-top -->
    <smart-logo></smart-logo>

    <!-- DOC: mobile button appears during mobile width -->
    <div class="hidden-lg-up">
        <a href="#" (click)="openMobileNav($event)" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
            <i class="ni ni-menu"></i>
        </a>
    </div>

    <!-- page breadcrumb -->
    <smart-page-breadcrumb></smart-page-breadcrumb>

    <div class="ml-auto d-flex">
        <!-- app shortcuts -->
        <!-- <smart-dropdown-apps></smart-dropdown-apps> -->

        <!-- app user menu -->
        <smart-dropdown-user></smart-dropdown-user>
    </div>

</header>
